<td><%= event.kind %></td>
<td><%= event.vehicle %></td>
<td><%= event.plate %></td>
<td><%= event.when %></td>
<td><%= event.from_landmark %></td>
<td><%= event.to_landmark %></td>
<td><%= event.passenger_limit %></td>
<td><%= event.cost %></td>
<td><%= event.user_id %></td>

