<p id="notice"><%= notice %></p>

<p>
  <b>Event id:</b>
  <%= @event.id %>
</p>

<p>
  <b>Kind:</b>
  <%= @event.kind %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @event.vehicle %>
</p>

<p>
  <b>Plate:</b>
  <%= @event.plate %>
</p>

<p>
  <b>When:</b>
  <%= @event.when %>
</p>

<p>
  <b>From landmark:</b>
  <%= @event.from_landmark %>
</p>

<p>
  <b>To landmark:</b>
  <%= @event.to_landmark %>
</p>

<p>
  <b>Passenger limit:</b>
  <%= @event.passenger_limit %>
</p>

<p>
  <b>Cost:</b>
  <%= @event.cost %>
</p>

<p>
  <b>User:</b>
  <%= @event.user_id %>
</p>

<% unless current_user.nil? %>
  <form class='button_to' method="post" action="/events/join">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="hidden" name="event_id" value="<%= @event.id %>" />
    <input type="submit" value="Join Carpool" />
  </form>
<% else %>
  Click to Login to Facebook
<% end %>



<!--%= link_to 'Edit', edit_event_path(@event) %> |
<!--%= link_to 'Back', events_path %-->
