<h2>Listing invitations</h2>

<table>
  <tr>
    <th>Kind</th>
    <th>Vehicle</th>
    <th>Plate</th>
    <th>When</th>
    <th>From landmark</th>
    <th>To landmark</th>
    <th>Passenger limit</th>
    <th>Cost</th>
    <! -- -->
    <th>Kind</th>
    <th>User</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invitations.each do |invitation| %>
  <tr>
    <%= render invitation.event %>
    <!-- -->
    <td><%= invitation.kind %></td>
    <td><%= invitation.user_id %></td>
    <td><%= invitation.event_id %></td>
    <td><%= link_to 'Show', invitation %></td>
    <td><%= link_to 'Edit', edit_invitation_path(invitation) %></td>
    <td><%= link_to 'Destroy', invitation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invitation', new_invitation_path %>
